<template>
    <div id="logIn" class="logIn">
    <head>
        <title>Login punto de vacunación</title>
    </head>
  </div>

  <div class="header">
    <h1>Encuentra tu vacuna</h1><br>

    <h2>Ingreso de puntos de vacunación</h2><br><br><br><br><br>
  </div>

  <body>
      <center>
      <div class="IngresoPuntos">
            
         <p>               
            Correo electrónico <input><br>
            Contraseña         <input>                            
         </p>
         
    </div>
    <br><br>
    <button id="boton_ingresar">Ingresar</button><br><br><br>
    </center>
  </body>   

</template>

<script>
export default {
    name: 'logIn',
}
</script>

<style>
body {
    margin: 10px auto;
    background: #33A2FFA6;
    padding: 60px 60px 60px 60px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 18px;
    
   }
   
h1 {
    width: 1180px;
    margin: 0px auto;   
    color: whitesmoke;
    background-color: #33A2FFA6;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    font-size: 50px;
    
   }

h2 {
    width: 1260px;
    margin: 0px auto;   
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    
   }

button {
    color: rgb(0, 0, 0);
    background-color: rgb(211, 224, 236);
    justify-content: center;
    border-radius: 5px;
    height: fit-content;
    
}

</style>