<template> 
    <div id="Registro" class="Registro"> 
    <center>
        <div class="header"> 
            <title>Encuentra tu vacuna</title>
        </div>
        <div class="body">
            <h1>Registro punto de vacunación</h1><br>

            <h2>Registro de puntos de vacunación</h2><br><br><br><br><br>
    
            <div class="IngresoPuntos">
            
             <p>
                 Nombre del punto de vacunación<input><br>   
                 Correo electrónico       <input><br>
                 Nueva contraseña         <input><br>
                 Repetir contraseña         <input>
                                                 
             </p>
            </div>         
        </div>
     </div><br><br>
     <button id=boton_registro>Registrar punto de vacunación</button><br><br><br>
    </center>
</template>

<script>
import  from ''; 
 
export default { 
    name: "Registro", 
 
    data: function(){ 
        return { 
            user: { 
                nombre: "", 
                correo: "", 
                contraseña: "", 
                repetir contraseña: "", 
                account: { 
                    lastChangeDate: (new Date()).toJSON().toString(), 
                    balance: 0, 
                    isActive: true 
                } 
            } 
        } 
    }, 
 
    methods: { 
        processSignUp: function(){ 
            axios.post( 
                "https:",  
                this.user,   
                {headers: {}} 
            ) 
                .then((result) => { 
                    let dataSignUp = { 
                        username: this.user.username, 
                        token_access: result.data.access, 
                        token_refresh: result.data.refresh, 
                    } 
                     
                    this.$emit('completedSignUp', dataSignUp) 
                }) 
                .catch((error) => { 
       console.log(error) 
              alert("ERROR: Fallo en el registro."); 
 
                }); 
        } 
    } 
} 
</script>

<style>
body {
    width: 1180px;
    margin: 10px auto;
    background: #33A2FFA6;
    padding: 0px 60px 60px 60px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
   }
   
   h1 {
    width: 1260px;
    margin: 0px auto;   
    color: rgb(0, 0, 0);
    background-color: #33A2FFA6;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    
   }
   h2 {
    width: 1260px;
    margin: 0px auto;   
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    
   }

   .Contenido {
    color: #5E1C36;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    padding: 10px 40px 10px 40px;
    background-color: #E34481;
}

.IngresoPuntos {
 color: black;
 font-size: 20px;
 text-align: center;
 border-radius: 10px;
 margin: 0px 40px 0px 40px;
 padding: 5px 40px 5px 40px;
 background-color: #33A2FFA6;
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(211, 224, 236);
    justify-content: center;
    border-radius: 5px;
    height: fit-content;
    
}
</style>