
*{
   margin: 10;
   padding: 0;

}
body {
    width: 1180px;
    margin: 0px;
    background: #33A2FFA6;
    padding: 0px 40px 40px 40px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
   }
   
   h1 {
    width: 1250px;
    margin: 0px auto;   
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    
   }
   h2 {
    width: 1250px;
    margin: 0px auto;   
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    
   }

   .Contenido {
    color: #5E1C36;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    padding: 10px 40px 10px 40px;
    background-color: #E34481;
}

.IngresoPuntos {
 color: black;
 font-size: 20px;
 text-align: center;
 border-radius: 10px;
 margin: 0px 40px 0px 40px;
 padding: 5px 40px 5px 40px;
 background-color: #33A2FFA6;
}
.ActualizaPuntos {
    color: black;
    font-size: 22px; 
    text-align: center;
    border-radius: 10px;
    border-color: black;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin: 0px 350px 0px 350px;
    padding: 60px 80px 60px 80px;
    background-color: white;
    position: center;
    top: 80%;
    margin-top: 0px;
   }

.Imagen img {
    height: 200px;
    display: initial;
    text-align: center;
    border-radius: 5px;
    border: 0px solid white;
    margin: 0px auto 0px auto;
    
 
}
button {
    color: rgb(0, 0, 0);
    background-color: rgb(209, 216, 241);
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    width: auto;
    
}
a {
    color:rgb(0, 0, 0);
}
h3 {
    width: 800px;
    height: 30px;
    margin: 0px auto;   
    color: rgb(250, 250, 250);
    background-color: #2377f5;
    text-align: match-parent;
    border-radius: 10px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
   }
   h4 {
    width: 220px;
    height: 30px;
    margin: 0px auto;   
    color: rgb(8, 8, 8);
    background-color: #97baf1;
    text-align: match-parent;
    border-radius: 05px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
   }