*{
    margin: 10;
    padding: 0;

}
body {
    width: 1180px;
    margin: 10px auto;
    background: #33A2FFA6;
    padding: 0px 60px 60px 60px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
h1 {
    width: 1180px;
    margin: 10px auto;  
    color: rgb(0, 0, 0);
    background-color:whitesmoke;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
}
h2 {
    width: 1180px;
    margin: 10px auto;   
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
}

.Contenido {
    color: #5E1C36;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    padding: 10px 40px 10px 40px;
    background-color: #E34481;
}

.IngresoPuntos {
    color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    padding: 5px 40px 5px 40px;
    background-color: #33A2FFA6;
}

.Imagen img {
    height: 200px;
    display: initial;
    text-align: center;
    border-radius: 5px;
    border: 0px solid white;
    margin: 0px auto 0px auto;
}

a {
    color:rgb(0, 0, 0);
}
a:hover{
    background-color:#A6D6F7;
    
}
h3 {
    width: 800px;
    height: 30px;
    margin: 0px auto;   
    color: rgb(250, 250, 250);
    background-color: #2377f5;
    text-align: match-parent;
    border-radius: 10px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
}
.Datos{
    width: 350px;
    height:50px;
    margin:5px 1px;
}
button{
    color: 33A2FFA6;
    background-color:beige;
    border-radius: 6px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold, italic;
    font-size: 16px;
}
button:hover{
    color: #0016b0;
    background-color: #A6D6F7;
    font-family: Arial, Helvetica, sans-serif;
    font-style:bold, italic;
    font-size: 17px;
}

#columna1 {
    position:absolute;
    top: 260px;
    left:70px;
    width:200px;
    margin-top:10px;
}
#columna2 {
    top: 260px;
    left:270px; 
    margin-left:420px;
    margin-right:20px;
    margin-top:5px;
}
