<template>
  <div id="inicio" class="inicio">
    <head>
        <center><title>Encuentra tu Vacuna</title></center>
    </head>
  </div>

  <div class="header">
    <br><hr>
        <h1><center><em>
            Bienvenido a encuentra tu vacuna!
        </em></center></h1>    
    <hr>
  </div>

  <body>

        <div class="Ciudadano">
            
            <p><center>
            Si deseas consultar los puntos de vacunación<br>
            y su disponibilidad de vacunas, ingresa con el<br>
            botón de abajo<br>
            </center>
            <br>
            </p>
            <center>
            <button id="boton_ciudadano">Ingreso ciudadanos</button>
            </center>
            <br>
        </div>
        
        <hr>
        
        <div class="Ingreso">
            
            <p><center>
            Si desea actualizar la información de su punto<br>
            de vacunación, ingrese aquí. Recuerde que<br>
            para acceder como punto de vacunación debe <br>
            contar con un usuario y contraseña<br>
            autorizados.<br></center>
            </p>
            <center>
            <button id="boton_punto">Ingreso</button>
            </center>
        </div>
    <br>
    <hr>
    </body>
  
</template>

<script>
export default {
  name: 'inicio',

  data: function(){

  },

  methods:{

  },

  created: function(){
    
  }

}

</script>

<style>
body {
    margin: 10px auto;
    background: #33A2FFA6;
    padding: 60px 60px 60px 60px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 18px;
    
   }
   
h1 {
    width: 1180px;
    margin: 0px auto;   
    color: whitesmoke;
    background-color: #33A2FFA6;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    font-size: 50px;
    
   }

button {
    color: rgb(0, 0, 0);
    background-color: rgb(211, 224, 236);
    justify-content: center;
    border-radius: 5px;
    height: fit-content;
    
}
</style>
